/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

@use "/src/global-styles/styles/mixins.scss" as *;

#home-page {
    display: flex;
    flex-direction: column;
    margin: auto;

    .introduction {
  
      &__title {
        @include header-2;
        margin-bottom: 0;
        margin-top: 1em;
      }
  
      &__description {
        @include body-1;
        margin-bottom: 0;
      }
    }
  
    .areas {
      width: 100%;
      display: grid;
      margin-top: 24px;
      gap: 16px;
  
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: var(--color-secondary-medium);
        border-radius: 20px;
  
        &__icon {
            width: 56px;
            height: 56px;
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__icon.machine-learning {
          background-color: #373155;
        }

        &__icon.computer-vision {
          background-color: #2C3455;
        }

        &__icon.natural-language {
          background-color: #274255;
        }

        &__icon.robotics {
          background-color: #3D413F;
        }

        &__icon img {
            width: 50%;
            height: 50%;
        }
  
        &__title {
          @include header-3;
          margin: 16px 0;
        }
  
        &__description {
          opacity: .5;
          text-align: center;
          @include body-2;
          margin: 0;; 
        }
      }
    }
  }
  
  
  @media screen and (min-width: 600px) {
    body {
      height: 100vh;
      box-sizing: border-box;
      display: flex; 
      justify-content: center;
      align-items: center; 
    }

    #home-page {
      min-width: 496px;
      max-width: 68vw;

      .introduction {
        &__title {
          @include header-1;
          margin-top: 0;
        }
      }

      .areas {
        margin-top: 24px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  

  @media screen and (min-width: 1024px) {
    body { 
      box-sizing: border-box;
    }

    #home-page {
      flex-direction: row;
      max-width: 1136px;

      .introduction {
        margin-right: 9.6%;
  
        &__title {
          @include header-1;
          margin: 0;
        }
    
        &__description {
          @include body-1;
          margin-top: 1.5em;
        }
      }
  
      .areas {
        min-width: 560px;
        gap: 31px 24px;
        margin: 0;
      
      
        & .card {
          padding: 1.5em 1em;
  
          &__icon {
            width: 64px;
            height: 64px;
          }

          &__description {
            @include body-1;
          }
        }
        
      }
      
    }
  }
  
