/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

#home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    a:hover {
        opacity: 0.65;
    }

    .order-summary {
        border-radius: 16px;
        overflow: hidden;
        max-width: 343px;

        &__thumbnail {
            height: 188px;
            background-image: url('images/AdobeStock_331830515.png');
            background-size: 455px  232px;
            background-repeat: no-repeat
            ;
            background-position: 50% 50%;
        }

        &__content {
            padding: 16px;
            padding-top: 12px;
            background-color: #FFF;
        }
        
        &__content > div {
            margin: 0 auto;
            margin-top: 2rem;
        }

        &__.title {
            color: var(--color-title);
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.5rem;
            margin: 0;
        }

        &__.body {
            color: var(--color-text-medium);
            text-align: center;
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.375rem;
            letter-spacing: -0.01em;
        }

        & .subscription {
            background-color: var(--color-background);
            border-radius: 16px;
            padding: 16px 0;
            display: flex;
            align-items: center;
        
            &__icon {
                padding: 0 1.25rem;
            }

            &__stroke {
                height: 43px;
                width: 1px;
                background-color: var(--color-stroke);
            }
            
            &__container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;
                padding: 0 24px;
            }

            &__.plan {
                font-weight: 700;
                color: var(--color-title);
                font-size: 1rem;
                line-height: 1.375rem;
                margin: 2px 0;
            }

            &__.price {
                font-size: 0.75rem;
                line-height: 1.2rem;
                margin: 0;
                color: #85859B;
                letter-spacing: -0.01em;
            }

            &__.change {
                color: var(--color-primary);
                font-weight: 700;
                font-size: 0.875rem;
                line-height: 1.375rem;
                letter-spacing: -0.01em;
            }
        }
    
        &__.buttons {
            text-align: center;
        }

        &__.payment-btn {
            display: block;
            width: 100%;
            border-radius: 16px;
            border: none;
            background-color: var(--color-primary);
            color: #FFF;
            padding: 0.9375rem 0;
            font-weight: 700;
            letter-spacing: -0.01em;
            line-height: 1.6rem;
            margin: 0 auto;
            text-align: center;
        }

        &__.payment-btn:hover {
            cursor: pointer;
            background-color: #490245;
            transition: background-color 0.15s ease-out;
        }

        &__.cancel {
            display: inline-block;
            padding: 20px 0;
            font-size: 0.875rem;
            font-weight: 700;
            color: var(--color-title);
            line-height: 1.375rem;
        }
    }
}

@media (min-width: 1024px) {
    #home-page {
        .order-summary {
            max-width: 460px;
            flex: 1;

            &__thumbnail {
                height: 232px;
            }

            &__content {

                & > div:first-child {
                    margin-top: 1.25rem;
                    max-width: 349px;
                }
            }

            &__.title {
                font-size: 2rem;
                line-height: 2.731rem;
                margin-bottom: 1rem;
            }
            &__.body {
                font-size: 1rem;
                line-height: 1.6rem;

            }

            .subscription {
                margin-top: 2.5rem;

                &__icon {
                    padding: 0 2rem;
                }

                &__container {
                    padding: 0 2rem;
                }

                &__.plan {
                    font-size: 1.125rem;
                    line-height: 1.5375rem;
                }

                &__.price {
                    font-size: 0.875rem;
                    line-height: 1.4rem;
                }

                &__.change {
                    font-size: 1rem;
                    line-height: 160%;
                }
            }

            &__.cancel {
                font-size: 1rem;
                line-height: 1.6rem;
            }
        }
    }
}