
@mixin header-1 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.2%;
    font-weight: 500;
}

@mixin header-2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.2%;
    font-weight: 500;
}

@mixin header-3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 500;
}

@mixin body-1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

@mixin body-2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}