/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #0F162D;
    --color-primary-orchid: #CA59FF;
    --color-primary-bluebell: #6C7CFF;
    --color-primary-cyan: #2AFFFF;
    --color-primary-yellow: #FFF629;

    --color-secondary-light: #FFF;
    --color-secondary-medium: #272D42;
    --color-secondary-dark: #000;

}